<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title is defined %}{{ title }}{% endif %} - GGTeam</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}
        <link href="{{ asset('bundles/ggteamblog/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<section id="wrapper">
    <header id="header">
        <div class="top">
            {% include 'GGTeamBlogBundle::nav.html.twig' %}
        </div>
    </header>

    <section class="main-col">
        {% block body %}{% endblock %}
    </section>
    <aside class="sidebar">
        {% block sidebar %}{% endblock %}
    </aside>

    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</section>

{% block javascripts %}{% endblock %}
</body>
</html>