<nav>
    <ul class="navigation">
        <li><a href="{{ path('gg_team_blog_homepage') }}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="{{ path('gg_team_blog_contact_home') }}">Contact</a></li>
    </ul>
</nav>